<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body{
        background-color: #323232;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #d7dadc;
    }
    a:hover{
        color: rgba(255, 217, 0);
    }
    a, a:visited{
        color: lightblue;
    }
    h2{
        text-align: center;
        margin: 0px;
    }

    .menu{
        display: flex;
        justify-content: left;
        font-size: 1.7em;
    }
    .menu > *{
        margin: 8px;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 2px; /* Add small amount of padding to stop twitching on chrome*/
        height: auto !important;
        margin: auto;
    }

    .video-menu{
        margin: 8px;
        display: flex;
        justify-content: space-around;
    }
</style>