<!DOCTYPE html>
<html>
{% include "static/head.html" %}
<body>

{% include "static/menu.html" %}

<p>{{ output }}</p>

<form action="#" method="post">
    <input type="text" name="genre" placeholder="Genre" />
    <input type="submit" value="Add genre" />
</form>

{% if movies %}
    <ol name="movie-list">
    {% for movie in movies %}
        <li>
            {{ movie.filename }} {{ movie.genre }}
            {% if genres %}
                <form action="#" method="post">
                    <select name="genre_id" id={{ movie.uuid }}>
                        {% for genre in genres %}
                        <option value={{ genre }}>{{ genre.genre }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="movie_uuid" value={{ movie.uuid }} />
                    <input type="submit" name="movie_genre" value="Add" />
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No Movies. Admin need to re-index</p>
{% endif %}

{% include "static/footer.html" %}
</body>
</html>