<!DOCTYPE html>
<html>
<head>
    {% include "static/html/head.html" %}
    {% include "static/js/search.html" %}
</head>
<body>
{% include "static/html/menu.html" %}

<div class="movie-list">
    <select name="search_type" id="searchType">
        <option value="title">Title</option>
        <option value="path">Path</option>
        <option value="genre">Genre</option>
    </select>
    <input id="search" name="search" type="text" placeholder="search"/>

    {% if movies %}
        <ol id="movieList">
        {% for movie in movies %}
            <li>
                <a href={{ url_for("play", v=movie.uuid) }}>{{ movie.filename }} {{ movie.genre }}</a>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No Movies. Admin need to re-index</p>
    {% endif %}
</div>
</body>
</html>