<!DOCTYPE html>
<html>
<head>
    {% include "static/head.html" %}
    {% include "static/js/search.html" %}
</head>
<body>
{% include "static/menu.html" %}

<input id="search" name="search" type="text" placeholder="search"/>

{% if movies %}
    <ol id="movieList">
    {% for movie in movies %}
        <li>
            <a href={{ url_for("play", v=movie.uuid) }}>{{ movie.filename }} {{ movie.genre }}</a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No Movies. Admin need to re-index</p>
{% endif %}
</body>
</html>