<!DOCTYPE html>
<html>
<head>
    {% include "static/html/head.html" %}
    {% include "static/css/play.html" %}
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
</head>
<body>
{% include "static/html/menu.html" %}


<h2>{{ movie.filename }}</h2>

<div class="video-container">
    <div class="video-menu">
        {% if previous %}
        <a href={{ url_for("play", v=previous.uuid) }}>Previous</a>
        {% endif %}
        <button id="fullscreen">Fullscreen</button>
        {% if next %}
        <a href={{ url_for("play", v=next.uuid) }}>Next</a>
        {% endif %}
    </div>
    <video id="videoPlayer" class="video-player video-js" data-setup='{"fluid": true}' controls>
        <source src="{{ movie.filepath }}" type="video/mp4">
        {% if subtitles %}
            {% for sub in subtitles %}
                <track label="{{ sub.language }}" srclang="{{ sub.srclang }}" kind="subtitles" src="{{ sub.filepath }}" default>
            {% endfor %}
        {% endif %}
    </video>

    <div class="video-rewind-notify rewind notification">
        <div class="rewind-icon icon">
            <i class="left-triangle triangle">◀◀◀</i>
            <span class="rewind">10 seconds</span>
        </div>
    </div>
    <div class="video-forward-notify forward notification">
        <div class="forward-icon icon">
            <i class="right-triangle triangle">▶▶▶</i>
            <span class="forward">10 seconds</span>
        </div>
    </div>
</div>
<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
{% include "static/js/play.html" %}
</body>
</html>