
<!DOCTYPE html>
<html>
{% include "static/head.html" %}
<body>
{% include "static/menu.html" %}


<h2>{{ movie }}</h2>

{% if previous %}
<a href={{ url_for("play", v=previous.uuid) }}>Previous</a>
{% endif %}

{% if next %}
<a href={{ url_for("play", v=next.uuid) }}>Next</a>
{% endif %}

<div class="video-container">
    <video id="video-player" controls>
        <source src="{{ movie }}" type="video/mp4">
        <track label="English" kind="subtitles" srclang="en" src="{{ sub }}" default>
    </video>
</div>

{% include "static/footer.html" %}
</body>
</html>