<!DOCTYPE html>
<html>
<head>
    {% include "static/head.html" %}
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
</head>
<body>
{% include "static/menu.html" %}


<h2>{{ movie }}</h2>

<div class="video-container">
    <div class="video-menu">
        {% if previous %}
        <a href={{ url_for("play", v=previous.uuid) }}>Previous</a>
        {% endif %}
        
        {% if next %}
        <a href={{ url_for("play", v=next.uuid) }}>Next</a>
        {% endif %}
    </div>

    <video id="videoPlayer" class="video-player video-js" data-setup='{"fluid": true}' controls>
        <source src="{{ movie }}" type="video/mp4">
        {% if sub %}
        <track label="{{ sub.language }}" srclang="{{ sub.srclang }}" kind="subtitles" src="{{ sub.filepath }}" default>
        {% endif %}

        <div class="video-rewind-notify rewind notification">
            <div class="rewind-icon icon">
                <i class="left-triangle triangle">◀◀◀</i>
                <span class="rewind">10 seconds</span>
            </div>
          </div>
          <div class="video-forward-notify forward notification">
            <div class="forward-icon icon">
                <i class="right-triangle triangle">▶▶▶</i>
                <span class="forward">10 seconds</span>
            </div>
          </div>
    </video>
</div>
<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
<script>
    // TODO: Clean up code and add display that you skipped forward
    // TODO: https://codepen.io/smithsa/pen/ZmWMxy

    //grab the video dom element
    const video = document.getElementById('videoPlayer'); 
    const notifications = document.querySelectorAll('.notification');
    const forwardNotificationValue = document.querySelector('.video-forward-notify span');
    const rewindNotificationValue = document.querySelector('.video-rewind-notify span');
    
    var tapedTwice;
    let timer;
    let rewindSpeed = 0;
    let forwardSpeed = 0;

    //function for double click event listener on the video
    //todo change those variable to html5 data attributes
    function updateCurrentTime(delta){
        let isRewinding = delta < 0;
    if(isRewinding){
        rewindSpeed = rewindSpeed + delta;
        forwardSpeed = 0;
    }else{
        forwardSpeed = forwardSpeed + delta;
        rewindSpeed = 0;
    }

    //clear the timeout
    clearTimeout(timer);

    let speed = (isRewinding ? rewindSpeed : forwardSpeed);
    video.currentTime = video.currentTime + speed;

    let NotificationValue =  isRewinding ? rewindNotificationValue : forwardNotificationValue ;
    NotificationValue.innerHTML = `${Math.abs(speed)} seconds`;

    //reset accumulator within 2 seconds of a double click
    timer = setTimeout(function(){
        rewindSpeed = 0;
        forwardSpeed = 0;
    }, 2000); // you can edit this delay value for the timeout, i have it set for 2 seconds
        console.log(`updated time: ${video.currentTime}`);
    }

    function animateNotificationIn(isRewinding){
        isRewinding ? notifications[0].classList.add('animate-in') : notifications[1].classList.add('animate-in'); 
    }

    function animateNotificationOut(){
        this.classList.remove('animate-in');
    }

    function forwardVideo(){
        updateCurrentTime(10);
        animateNotificationIn(false);
    }

    function rewindVideo(){
        updateCurrentTime(-10);
        animateNotificationIn(true);
    }

    //Event Handlers
    function doubleClickHandler(e){
        const videoWidth = video.offsetWidth;
        (e.offsetX < videoWidth/2) ? rewindVideo() : forwardVideo();
        e.preventDefault();
    }

    function tapHandler(e){
        if(!tapedTwice) {
            tapedTwice = true;
            setTimeout( function() { tapedTwice = false; }, 300 );
            return false;
        }
        const videoWidth = video.offsetWidth;
        (e.offsetX < videoWidth/2) ? rewindVideo() : forwardVideo();
    }

    function togglePlay(){
        video.paused ? video.play() : video.pause();
    }

    function hotkeysHandler(e){
        // 'f' key
        if (event.which === 70) {
            this.isFullscreen() ? this.exitFullscreen() : this.requestFullscreen();
        }
    }

    //Event Listeners
    video.addEventListener('touchstart', tapHandler);
    notifications.forEach(function(notification){
        notification.addEventListener('animationend', animateNotificationOut);
    });
    videojs('videoPlayer', {
        userActions: {
            doubleClick: doubleClickHandler,
            hotkeys: hotkeysHandler
        }
    });
</script>
</body>
</html>