<!DOCTYPE html>
<html>
<head>
    {% include "static/html/head.html" %}
</head>
<body>
{% include "static/html/menu.html" %}

<h2>Currently watching</h2>
<div class="movie-list">
    {% if movies %}
        <ol id="movieList">
        {% for movie in movies %}
            <li>
                <a href={{ url_for("play", v=movie.uuid) }}>{{ movie.filename }} {{ movie.genre }}</a>
                <button class="watch-list" value="{{ movie.uuid }}">Clear</button>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No movies in progress, get watching!</p>
    {% endif %}
</div>

{% include "static/js/watching.html" %}
</body>
</html>