<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #323232;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #d7dadc;
        }
        a{
            color: gold;
        }
        a:visited{
            color: white;
        }

        video {
            max-width: 70%; 
            max-height: 70%; 
        }


    </style>
</head>