<script>
    // TODO: Clean up code and add display that you skipped forward
    // TODO: https://codepen.io/smithsa/pen/ZmWMxy

    // forward/rewind
    const video = document.getElementById('videoPlayer');
    const player = videojs('videoPlayer', {
            userActions: {
                doubleClick: doubleClickHandler,
                hotkeys: hotkeysHandler,
                touchstart: tapHandler
            }
        });
    const notifications = document.querySelectorAll('.notification');
    const forwardNotificationValue = document.querySelector('.video-forward-notify span');
    const rewindNotificationValue = document.querySelector('.video-rewind-notify span');
    var tapedTwice;
    
    // watch progress
    const uuid = "{{ movie.uuid }}";
    const watchProgressInterval = 5000;
    var watchProgressTimer;
    var loadedWatchProgress = "{{ watch_progress }}";
    
    
    window.onload = init;
    function init(){
        // Event handlers for forward/rewind animations
        notifications.forEach(function(notification){
            notification.addEventListener('animationend', animateNotificationOut);
        });

        // Check if you need to start watch progress
        if(isNullOrWhitespace(uuid) === false){
            watchProgressTimer = setInterval(watchProgress, watchProgressInterval);
        }

        player.currentTime(loadedWatchProgress);
    }

    /***************************
        Forward/Rewind functions
    ****************************/
    function animateNotificationIn(isRewinding){
        isRewinding ? notifications[0].classList.add('animate-in') : notifications[1].classList.add('animate-in'); 
    }

    function animateNotificationOut(){
        this.classList.remove('animate-in');
    }

    function forwardVideo(){
        player.currentTime(player.currentTime() + 10);
        animateNotificationIn(false);
    }
    
    function rewindVideo(){
        player.currentTime(player.currentTime() - 10);
        animateNotificationIn(true);
    }

    //Event Handlers
    function doubleClickHandler(e){
        const videoWidth = video.offsetWidth;
        (e.offsetX < videoWidth/2) ? rewindVideo() : forwardVideo();
        e.preventDefault();
    }

    function tapHandler(e){
        if(!tapedTwice) {
            tapedTwice = true;
            setTimeout( function() { tapedTwice = false; }, 300 );
            return false;
        }
        const videoWidth = video.offsetWidth;
        (e.offsetX < videoWidth/2) ? rewindVideo() : forwardVideo();
    }

    function hotkeysHandler(e){
        // 'f' key
        if (event.which === 70) {
            this.isFullscreen() ? this.exitFullscreen() : this.requestFullscreen();
        }
        // 'm' key
        else if(event.which === 77){
            this.muted() ? this.muted(false) : this.muted(true);
        }
        // --> key
        else if(event.which === 39){
            forwardVideo();
        }
        // <-- key
        else if(event.which == 37){
            rewindVideo();
        }
    }

    /***************************
        Watch progress functions
    ****************************/
    function postRequest(url, object, callback, async = true) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4) {
                callback(xhttp);
            }
        }
        xhttp.open("POST", url, async);
        xhttp.setRequestHeader('Content-type', 'application/json');
        if (object == null || object == undefined)
            xhttp.send();
        else
            xhttp.send(object);
    }

    function isNullOrWhitespace(input){
        return !input || !input.trim();
    }

    function watchProgress(){
        if(player.paused()){
            return;
        }

        var watchData = {
            'm': uuid,
            'p': Math.floor(player.currentTime()),
            't': Math.floor(player.duration())
        }
        jsonData = JSON.stringify(watchData);
        var url = "http://" + window.location.hostname + ":3000/watch";
        postRequest(url, jsonData, callbackWatch);
    }

    function callbackWatch(response){
        if(response.status !== 200){
            clearInterval(watchProgressTimer);
        }
    }
</script>