<script>
    var keyTimer;

    window.onload = init;
    /**
        * Sends http GET request to given url and callbacks on a given callback
        * @param {string} url
        * @param {function} callback
    */
    function getRequest(url, callback) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                callback(xhttp);
            }
        }
        xhttp.open("GET", url, true);
        xhttp.send()
    }

    function searchUpdate(){
        clearTimeout(keyTimer);
        keyTimer = setTimeout(search, 300);
    }

    function search(){
        var url = "http://" + window.location.hostname + ":3000/search?search=" + document.getElementById("search").value;
        getRequest(url, searchResult);
    }

    function searchResult(response){
        const movieList = document.getElementById("movieList");
        movieList.innerHTML = "";

        var movies = JSON.parse(response.responseText);
        
        for(var i = 0; i < movies.length; i++){
            list = createListElement(movies[i]);
            movieList.append(list);
        }
    }

    function createListElement(movie){
        var a = document.createElement("a");
        a.href = "/play?v=" + movie.uuid;
        a.appendChild(document.createTextNode(movie.filename));
        
        var li = document.createElement("li");
        li.append(a);
        return li;
    }

    function init(){
        searchElement = document.getElementById("search");
        searchElement.addEventListener('input', searchUpdate);
    }
</script>