<script>
    function postRequest(url, object, callback, async = true) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4) {
                callback(xhttp);
            }
        }
        xhttp.open("POST", url, async);
        xhttp.setRequestHeader('Content-type', 'application/json');
        if (object == null || object == undefined)
            xhttp.send();
        else
            xhttp.send(object);
    }

    window.onload = init;

    const uuid = "{{ movie.uuid }}";
    
    function isNullOrWhitespace( input ) {
        return !input || !input.trim();
    }

    function init(){
        console.log(video);
        console.log(uuid);
        console.log(isNullOrWhitespace(uuid));
        if(isNullOrWhitespace(uuid) === false){
            console.log('Starting watchProgress interval');
            setInterval(watchProgress, 3000);
        }
    }

    function watchProgress(){
        var watchData = {
            'm': uuid,
            'p': Math.floor(video.currentTime)
        }
        jsonData = JSON.stringify(watchData);
        var url = "http://" + window.location.hostname + ":3000/watch";
        postRequest(url, jsonData, callbackWatch);
        console.log('Sent watchProgress');
    }

    function callbackWatch(response){
        console.log("callbackWatch");
        console.log(response.responseText);
    }
</script>